
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.opendb
projekt_inzynierski/.vs/projekt_inzynierski/v16/.suo
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db-shm
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db-wal
