
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.opendb
projekt_inzynierski/.vs/projekt_inzynierski/v16/.suo
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db-shm
projekt_inzynierski/.vs/projekt_inzynierski/v16/Browse.VC.db-wal
projekt_inzynierski/projekt_inzynierski/Debug/vc142.pdb
projekt_inzynierski/projekt_inzynierski/Debug/vc142.idb
projekt_inzynierski/projekt_inzynierski/Debug/projekt_inzynierski.log
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/projekt_inzynierski.lastbuildstate
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/link.write.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/link.read.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/link.command.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/CL.write.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/CL.read.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/projekt_.c09efd86.tlog/CL.command.1.tlog
projekt_inzynierski/projekt_inzynierski/Debug/main.obj
projekt_inzynierski/projekt_inzynierski/Debug/glad.obj
projekt_inzynierski/Debug/projekt_inzynierski.pdb
projekt_inzynierski/Debug/projekt_inzynierski.ilk
projekt_inzynierski/Debug/projekt_inzynierski.exe
projekt_inzynierski/.vs/projekt_inzynierski/v16/ipch/AutoPCH/1a2b0049bc37154e/MAIN.ipch
